<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
   <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link rel="stylesheet" href="/css/materialize.css"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="/css/materialize.min.css">
   <!-- Compiled and minified JavaScript -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="/js/booksAjax.js" type="text/javascript"></script>
   <script src="/js/authorsAjax.js" type="text/javascript"></script>

  <title>books page</title>
</head>

<body>
  <header>
    <nav>
   <div class="nav-wrapper light-blue darken-1">
     <a href="#" class="brand-logo">Galvanize reads</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li>  <a href="/index">Home Page</a></li>
       <li><a href="/books">Books</a></li>
       <li><a href="/authors">Authors</a></li>
       <li><a href="/add-author">Add Author</a></li>
       <li><a href="/add-books">Add books</a></li>
     </ul>
   </div>
 </nav>
