<% include partials/header %>

  <main>

    <div class="container">
      <h2>Add an Author</h2>

    <form>

      <input type="text" id="name" placeholder="Full name">
      <br>

      <textarea id="biography" rows="8" cols="80" placeholder="Biography"></textarea>
      <br>

      <input type="url" id="url" placeholder="Portrait Image URL">
      <br>

      <button class ="addAuthor" type="button" name="button" >Add Author</button>

    </form>
  </div>
  </main>
</body>

</html>
