<% include partials/header %>

  <main>

    <div class="container">
      <h2>Add a Book</h2>

    <form>

      <input type="text" id="title" placeholder="Title">
      <br>

      <input type="text" id="genre" placeholder="Genre">
      <br>

      <input type="url" id="url" placeholder="Cover Image URL">
      <br>

      <textarea id="description" rows="8" cols="80" placeholder="Description"></textarea>
      <br>
      <button class ="addBook" type="button" name="button" >Add book</button>

    </form>
  </div>
  </main>
  </body>

  </html>
