<% include partials/header %>
  <main>


    <h5>Impatient? Try the below search function</h5>

    <textarea class='lable-icon' id='search' rows="1" cols="50" placeholder="Enter your search"></textarea>
    <button type="submit" name="search">Submit</button>
  </main>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</body>

</html>
